@model List<WebApp.Models.Domain.AccidentNotifi>

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<h1> Your Accidents Notifications </h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Track</th>
            <th>Description</th>
            <th>Distance [m]</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var feelist in Model)
        {
                <tr>
                    <td>@feelist.Id</td>
                    <td>@feelist.Track</td>
                    <td>@feelist.Description</td>
                    <td>@feelist.Distance</td>

                </tr>

        }
    </tbody>
</table>
